[init]
	defaultBranch = main
[pager]
	diff = diff-highlight | less
	log = diff-highlight | less
	show = diff-highlight | less

[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = 9 52
	newNormal = green
	newHighlight = 76 22
[color "diff"]
	meta = 61
	frag = 61 bold
	func = 100 bold
	commit = yellow bold
	old = red
	new = green
	whitespace = red reverse
[alias]
	cm = commit -m
	a = add
	au = add -u
	l = log
	ls = log --show-signature
	p = push
	s = status
	d = diff
	dc = diff --cached
	cv = commit -v
