[commit]
	gpgsign = true
[tag]
	gpgsign = true
[user]
	name = Alejandro Lazarte
		email = inbox@alazarte.com
		signingkey=D4C705248740ADA3F67D1EBE034145273D450AAE

[init]
	defaultBranch = master

[url "git@bitbucket.org:"]
	insteadOf = https://api.bitbucket.org/2.0/repositories/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/

[url "git@github.com:"]
	insteadOf = https://github.com/
